<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127208937877-96s40m0upq0dut58qmj7dm84mi850rvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127208937877-96s40m0upq0dut58qmj7dm84mi850rvj</string>
	<key>API_KEY</key>
	<string>AIzaSyDyxeGcz71AdaRiC6I6BM9NJA6MWQ6ZN28</string>
	<key>GCM_SENDER_ID</key>
	<string>127208937877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gradProject</string>
	<key>PROJECT_ID</key>
	<string>test2-6df25</string>
	<key>STORAGE_BUCKET</key>
	<string>test2-6df25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127208937877:ios:ec3f7b94ded98b7b32fe9c</string>
</dict>
</plist>